@model IEnumerable<MeteringDevices.Models.Тип>

@{
    ViewBag.Title = "Типы и модели оборудования";
}

<h2>Типы и модели оборудования</h2>

<p>
    @Html.ActionLink("Добавить в словарь новый тип оборудования", "CreateType")

</p>
<p>

    @Html.ActionLink("Добавить в словарь новую модель", "CreateModel")
</p>
<div class="layer">
    <table class="table">


        @foreach (var item in Model)
        {
            <tr>
                <td bgcolor="d8dede">
                    <big> <big><big> @item.Тип1</big></big></big>
</td>
                <td bgcolor="d8dede">


                    <small>  @Html.ActionLink("Удалить", "DeleteType", new { id = item.Id_Type }) </small>
                </td>
            </tr>

            foreach (var item1 in item.Модель)
            {
                <tr>
                    <td>
                        @item1.Название_модели

                    </td>
                    <td>
                        <small>
                           

                            @Html.ActionLink("Удалить", "DeleteModel", new { id = item1.Id_models })
                        </small>
                    </td>
                </tr>
            }
            
        }

    </table>
    </div>
    <p>  @Html.ActionLink("Вернуться в меню", "Index", "Home", null, null) </p>
